<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.chichi.pamback.mapper.sms_historyMapper">
    <insert id="addSmsHistory" parameterType="team.chichi.pamback.contacts.sms_historyDTO">
        INSERT INTO sms_history (sms_Id, phoneNumber, message, sentTime, receivedTime)
        VALUES (#{sms_Id}, #{phoneNumber}, #{message}, #{sentTime}, #{receivedTime})
    </insert>
</mapper>